<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/iitmnlp/DailyDialog-plusplus" data-icon="octicon-star" data-style="mega" data-count-href="/iitmnlp/DailyDialog-plusplus/stargazers" data-count-api="/repos/iitmnlp/DailyDialog-plusplus#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star iitmnlp/DailyDialog-plusplus on GitHub">Star</a>
